<html>
   <body>
      <h1 style="color:Orange;">Login</h1>
      <form action = "/loggedin" method = "POST" 
         enctype = "multipart/form-data">
         <b><label for="username">Username</label><br>
         <input type="text" id="username" name="username"><br>
         <b><label for="email">Email Address</label><br>
         <input type="email" id="email" name="email"><br>
         <label for="pwd">Password</label><br></b>
         <input type="password" id="pwd" name="pwd"><br>
         <br>
         <input type = "submit"/><br>
      </form>  
   </body>
</html>